{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}计算机等级考试页面{% endblock %}</title>

  <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.min.css' %}" >

  <style>
    body {
      padding-top: 50px;
    }

    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
      </button>
      <a class="navbar-brand" href="{% url 'exam:exampage'  exam_page.id %}">计算机等级考试</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        {% block navbar %}
        <ul class="nav navbar-nav">
          <li><a href="{% url 'exam:exampage-choicequestion'  exam_page.id  1 %}">选择题</a></li>
          <li><a href="{% url 'exam:exampage-systemquestion'  exam_page.id  %}">系统操作题</a></li>
          <li><a href="{% url 'exam:exampage-emailquestion'  exam_page.id  %}">上网题</a></li>
          <li><a href="{% url 'exam:exampage-wordquestion'  exam_page.id  %}">Word题</a></li>
          <li><a href="{% url 'exam:exampage-excelquestion'  exam_page.id  %}">Excel题</a></li>
          <li><a href="{% url 'exam:exampage-pptquestion'  exam_page.id  %}">PPT题</a></li>
        </ul>
        {% endblock %}
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="card" style="width: 90%;">
      {% block baseinfo %}
      <div class="card-body">
        <p></p>
        <p>考生班级： {{ student.class_name }}</p>
        <p>考生姓名： {{ student.student_name }}</p>
        <p>考试科目： {{ exam.exam_type_ }} </p>
        <p>考试时长： {{ exam.period_ }} </p>
        <p id="serverTime">考试用时:</p>
      </div>
      {% endblock baseinfo %}
    </div>

    <div id="content">
      {% block content %}

      <HR style= " FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width ="100%" color =#987 cb 9 SIZE = 20>

      <HR style= " FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width ="100%" color =#987 cb 9 SIZE = 20>

      <HR style= " FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width ="100%" color =#987 cb 9 SIZE = 20>
      
      {% endblock %}
    </div>

  </div><!-- /.container -->

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{% static 'polls/js/jquery-3.6.0.min.js' %}"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  {% block script %} {% endblock script %}

  <script type="text/javascript">
    function refreshTime() {
      $.ajax({
        url: '/exam/api/getservertime/{{ exam_page.id }}',
        type: 'POST',
        data: {},
        dataType: 'json',
        timeout: 10000,
        success: function (result) {
          if (result.result) {
            $("#serverTime").html("考试用时：" + result.result);
          } else {
            $("#serverTime").html("无效数据");
          }
        }
      });
      setTimeout('refreshTime()', 1000);
    }
    setTimeout('refreshTime()', 1000);
  </script>

</body>

</html>