{% extends "polls/base.html" %}

{% block title %}计算机等级考试首页{% endblock %}


{% block content %}
<HR style=" FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width="100%" color=#987 cb 9 SIZE=20>

<div class="card" style="width: 90%;">
    <div class="card-body">
        <h2 class="card-title">选择题</h2>
        <div class="btn-group" role="group" aria-label="choice questions">
            {% for a in choice_questions_answers %}
            {% if forloop.counter == choice_question_id %}
            <a class="btn btn-primary"
                href="{% url 'exam:exampage-choicequestion'  exam_page.id  forloop.counter %}">题{{ forloop.counter }}</a>
            {% elif a == '+' %}
            <a class="btn btn-light"
                href="{% url 'exam:exampage-choicequestion'  exam_page.id  forloop.counter %}">题{{ forloop.counter }}</a>
            {% else %}
            <a class="btn btn-success"
                href="{% url 'exam:exampage-choicequestion'  exam_page.id  forloop.counter %}">题{{ forloop.counter }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<HR style=" FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width="100%" color=#987 cb 9 SIZE=20>

{% endblock content %}