{% extends "polls/base.html" %}

{% block title %}计算机等级考试选择题{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav">
  {% if exam_page.choice_questions %}
  <li><a href="{% url 'exam:exampage-choicequestion'  exam_page.id  1 %}">选择题</a></li>
  {% endif %}
    {% if exam_page.text_question %}
    <li><a href="{% url 'exam:exampage-textquestion'  exam_page.id  %}">文字录入题</a></li>
    {% endif %}
    {% if exam_page.email_question %}
    <li><a href="{% url 'exam:exampage-emailquestion'  exam_page.id  %}">上网题</a></li>
    {% endif %}
  {% if exam_page.system_operation_question %}
  <li><a href="{% url 'exam:exampage-systemquestion'  exam_page.id  %}">操作系统题</a></li>
  {% endif %}
  {% if exam_page.word_question %}
  <li><a href="{% url 'exam:exampage-wordquestion'  exam_page.id  %}">Word题</a></li>
  {% endif %}
  {% if exam_page.excel_question %}
  <li><a href="{% url 'exam:exampage-excelquestion'  exam_page.id  %}">Excel题</a></li>
  {% endif %}
  {% if exam_page.ppt_question %}
  <li  class="active"><a href="{% url 'exam:exampage-pptquestion'  exam_page.id  %}">PPT题</a></li>
  {% endif %}
</ul>
{% endblock %}


{% block content %}
<HR style=" FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width="100%" color=#987 cb 9 SIZE=20>
<h4>PPT操作题({{ exam.ppt_score }}分)</h4>

<div  class="box-disable-copy">
  <h5>说明：下载zip文件并解压，完成下列操作后将.pptx文件上传。(注意：不要更改题目要求以外的文件或文件夹) </h5>
  {{ ppt_question.question_content }}
  <a class="btn-download" 
  href="{% url 'exam:api-download-ppt-zipfile'  exam_page.id %}" >下载 ppt.zip</a>
</div>


<HR style=" FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width="100%" color=#987 cb 9 SIZE=60>
<div>
  <form method='POST' action='' enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-text">
          <label>提交作答[提交次数{{ exam_page.ppt_submit_cnt }}]</label>
    </div>
    <div class="mb-3">
      {{ form.file }} {{ form.file.errors }}
    </div>
    <div class='form-group' style=" margin-top: 10px">
      <input type="submit" class="btn-upload" value="上传.pptx文件" name="">
      {% if uploadsucc %}
      <label for="UploadSucc" style="color: green; margin-left: 20px">上传成功!!</label>
      {% endif %}
    </div>
  </form>
</div>
<HR style=" FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width="100%" color=#987 cb 9 SIZE=20>

{% endblock content %}


