{% extends "polls/base.html" %}

{% block title %}计算机等级考试选择题{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav">
  <li><a href="{% url 'exam:exampage-choicequestion'  exam_page.id  1 %}">选择题</a></li>
  <li class="active"><a href="{% url 'exam:exampage-systemquestion'  exam_page.id  %}">操作系统题</a></li>
  <li><a href="{% url 'exam:exampage-emailquestion'  exam_page.id  %}">上网题</a></li>
  <li><a href="{% url 'exam:exampage-wordquestion'  exam_page.id  %}">Word题</a></li>
  <li><a href="{% url 'exam:exampage-excelquestion'  exam_page.id  %}">Excel题</a></li>
  <li><a href="{% url 'exam:exampage-pptquestion'  exam_page.id  %}">PPT题</a></li>
</ul>
{% endblock %}


{% block content %}

    <HR style=" FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width="100%" color=#987 cb 9 SIZE=60>
    <h3>操作系统题</h3>

    <div class="alert alert-primary" role="alert">
      <h4>说明：下载zip文件并解压，在文件夹下完成下列操作，
        并将结果压缩成zip文件上传。(注意：不要更改题目要求以外的文件或文件夹) </h4> 
      <p>{{ system_question.question_content }}</p>
    </div>

    <div>
      <div id="passwordHelpBlock" class="form-text">
      </div>
      <a type="button" class="btn btn-info" href="{% url 'exam:api-download-system-zipfile'  exam_page.id %}">下载文件ZIP文件</a>
    </div>
    
    <HR style=" FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width="100%" color=#987 cb 9 SIZE=60>
      <div>
        <form method='POST' action='' enctype='multipart/form-data'>
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div id="passwordHelpBlock" class="form-text">
            <label>上传zip文件</label>
          </div>
          <div class="mb-3">
            {{ form.file }} {{ form.file.errors }}
          </div>
          <div class='form-group' style=" margin-top: 10px">
            <input type="submit" class="btn btn-info" value="上传文件" name=""> 
            {% if uploadsucc %}
            <label for="UploadSucc" style="color: green; margin-left: 20px">上传成功!!</label>
            {% endif %}
          </div>
          </form>
      </div>
    <HR style=" FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width="100%" color=#987 cb 9 SIZE=20>


{% endblock content %}


