{% extends "polls/base.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}
<style type="text/css">
    #choiceq-href {
        color: #a55d00;
        background-color: chartreuse;
        border: none;
    }
</style>
{% endblock %}

{% block content %}
<div id="content-main">
    <h2>选择题</h2>
    <div>
        <a href="{% url 'polls:exampage-choicequestion' exam_id student_id 1 %}" class=""><button id="choiceq-href">1</button></a>
        <a href="{% url 'polls:exampage-choicequestion' exam_id student_id 2 %}" class=""><button id="choiceq-href">2</button></a>
        <a href="{% url 'polls:exampage-choicequestion' exam_id student_id 3 %}" class=""><button id="choiceq-href">3</button></a>
        <a href="{% url 'polls:exampage-choicequestion' exam_id student_id 4 %}" class=""><button id="choiceq-href">4</button></a>
        <a href="{% url 'polls:exampage-choicequestion' exam_id student_id 5 %}" class=""><button id="choiceq-href">5</button></a>
    </div>

    <h3>{{question_id}} {{choicequestion.question_text}}</h3>
    <ul>
        <li> A. {{ choicequestion.choice_1 }}</li>
        <li> B. {{ choicequestion.choice_2 }}</li>
        <li> C. {{ choicequestion.choice_3 }}</li>
        <li> D. {{ choicequestion.choice_4 }}</li>
    </ul>
</div>
{% endblock %}