{% extends "polls/base.html" %}

{% block title %}计算机等级考试选择题{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav">
  <li><a href="{% url 'exam:exampage-choicequestion'  exam_page.id  1 %}">选择题</a></li>
  <li><a href="{% url 'exam:exampage-systemquestion'  exam_page.id  %}">系统操作题</a></li>
  <li class="active"><a href="{% url 'exam:exampage-emailquestion'  exam_page.id  %}">上网题</a></li>
  <li><a href="{% url 'exam:exampage-wordquestion'  exam_page.id  %}">Word题</a></li>
  <li><a href="{% url 'exam:exampage-excelquestion'  exam_page.id  %}">Excel题</a></li>
  <li><a href="{% url 'exam:exampage-pptquestion'  exam_page.id  %}">PPT题</a></li>
</ul>
{% endblock %}


{% block content %}
<HR style=" FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width="100%" color=#987 cb 9 SIZE=20>

<HR style=" FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width="100%" color=#987 cb 9 SIZE=20>

{% endblock content %}


