{% extends "polls/base.html" %}


{% block navbar %}
<ul class="nav navbar-nav">
  {% if exam_page.choice_questions %}
  <li><a href="{% url 'exam:exampage-choicequestion'  exam_page.id  1 %}">选择题</a></li>
  {% endif %}
  {% if exam_page.text_question %}
  <li class="active"><a href="{% url 'exam:exampage-textquestion'  exam_page.id  %}">文字录入题</a></li>
  {% endif %}
  {% if exam_page.email_question %}
  <li><a href="{% url 'exam:exampage-emailquestion'  exam_page.id  %}">上网题</a></li>
  {% endif %}
  {% if exam_page.system_operation_question %}
  <li><a href="{% url 'exam:exampage-systemquestion'  exam_page.id  %}">文件操作题</a></li>
  {% endif %}
  {% if exam_page.word_question %}
  <li><a href="{% url 'exam:exampage-wordquestion'  exam_page.id  %}">Word题</a></li>
  {% endif %}
  {% if exam_page.excel_question %}
  <li><a href="{% url 'exam:exampage-excelquestion'  exam_page.id  %}">Excel题</a></li>
  {% endif %}
  {% if exam_page.ppt_question %}
  <li><a href="{% url 'exam:exampage-pptquestion'  exam_page.id  %}">PPT题</a></li>
  {% endif %}
</ul>
{% endblock %}


{% block content %}
<HR style=" FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width="100%" color=#987 cb 9 SIZE=20>
  <h4>文字录入题({{ exam_page.text_question_result }}/{{ exam.text_score }}分)</h4>
    <div class="box-disable-copy" onselectstart="return false;" unselectable="on">
      <p> 将下面的文字内容输入到录入区域并提交：</p>
      <strong>
        {{ text_question.content }}
      </strong>
    </div>

<HR style=" FILTER: alpha (opacity = 100, finishopacity =0 , style= 2 )" width="100%" color=#987 cb 9 SIZE=20>
  
  <div class='textipput' 
    style="padding: 1% 2%; background-color:gray;">
    <h4>录入区域</h4>
    <form method='POST' action='' enctype='multipart/form-data'>
      {% csrf_token %}
      <div style="padding: 20px 10px; background-color:lightgray;">
        {% include "polls/form_item.html" with form_item=form.content %}
      </div>
      <div style="margin-top: 10px">
        {% if exam_page.enabled %}
          <input type="submit" class="btn btn-dark" value="提交" name="">
        {% else %}
          <input type="submit" class="btn btn-dark" value="提交" name="" disabled>
        {% endif %}
        {% if uploadsucc %}
        <label for="UploadSucc" style="color: green; margin-left: 20px">提交成功</label>
        {% endif %}
      </div>
    </form>
  </div>

{% endblock content %}


