{% extends "polls/base.html" %}


{% block script %} 
<script type="text/javascript">
  function refreshTime() {
    $.ajax({
      url: '/exam/api/getservertime/{{ exam_page.id }}',
      type: 'POST',
      data: {},
      dataType: 'json',
      timeout: 10000,
      success: function (result) {
        if (result.result) {
          $("#serverTime").html("考试用时：" + result.result);
        } else {
          $("#serverTime").html("无效数据");
        }
      }
    });
    setTimeout('refreshTime()', 1000);
  }
  setTimeout('refreshTime()', 1000);
</script>
{% endblock script %}

</body>

</html>